/* MAIN CSS STYLING */
body {
  background-color: lightgreen; }

.left {
  float: left; }

.right {
  float: right; }

/* NAV STYLE */
.logoutArea {
  text-align: right; }

.logoutBtn {
  margin: 10px 0; }

.searchInput {
  margin-top: 20px; }

.searchInput input {
  display: inline-block;
  width: 40%; }

.searchInput a button {
  padding: 6px 22px; }

/* DISPLAY PAGE STYLING */
.breadcrumbs {
  color: #999; }

.filterArea ul {
  list-style: none;
  margin: 0;
  padding: 0; }

.filterArea li {
  display: inline-block;
  margin-right: 10px; }

.deleteMovie {
  color: red;
  background-color: #fff;
  padding: 6px;
  border-radius: 8px;
  text-decoration: none; }

.star--empty {
  color: #fff;
  font-size: 1.75em; }

.star--filled {
  color: gold;
  font-size: 1.75em; }
