
/* DISPLAY PAGE STYLING */

.breadcrumbs {
  color: #999;
}

.filterArea ul {
  list-style:none;
  margin: 0;
  padding: 0;
}

.filterArea li {
  display:inline-block;
  margin-right: 10px; 
}

.deleteMovie {
  color: red;
  background-color: #fff;
  padding: 6px;
  border-radius: 8px; 
  text-decoration: none;
}

.star--empty {
  color: #ccc;
}

.star--filled {
  color: gold;
}