/* NAV STYLE */

.logoutArea {
  text-align: right;
}

.logoutBtn {
  margin: 10px 0;
}

.searchInput {
  margin-top: 20px;
}

.searchInput input {
  display: inline-block;
  width: 40%;
}

.searchInput a button{
  padding: 6px 22px;
}
