<section>
  <h3>Welcome to Movie History!</h3>
    <p>If this is your first time visiting the page, read the instructions below to get started!</p>
        <ol>
            <li>Use the search bar to search for new movies to watch.</li>
            <li>Once you find a movie, you can add it to your WatchList.</li>
            <li>Once you watch a movie, you can give it a rating.</li>
            <li>If you give a movie a 10 star rating, you can find it in your favorites.</li>
            <li>Click the GO! button below to get started!</li>
        </ol>

  <a href="#/display"><button class="btn btn-lg btn-success">GO!</button></a>
</section>